
            body{
                background-color: rgb(52, 54, 53);
                margin: 0px;
            }
            .container{
                width: 800px;
                height:600px;
                margin-left:260px ;
                margin-top: 40px;
                background-color: rgb(11, 221, 141);
                padding-top: 5px;
                padding-left: 15px;
                padding-right: 10px;
                padding-bottom: 3px;
                border-width: 2px;
                border-color:green;
                border-radius: 20px;
                border: solid;

            }
            p{
                font-size: 25px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: rgb(58, 61, 58);
            }
            .container2{
                width: 800px;
                height: 500;
                margin-left:260px ;
                margin-top: 40px;
            }
            table{
                width: 600px;
                height: 450px;
               margin-left: 120px;
              
            }
            h1{
                margin-left: 250px;
                color: rgb(7, 199, 7);
            }
            tr{
                font-size: 25px;
                color: rgb(23, 51, 16);
               
            }
            td{
                border-bottom: solid;
                border-right: solid;
                border-radius: 10px;
                border-color: rgb(12, 39, 12);
                padding-left: 15px;
                background-color: rgb(15, 233, 142);
                height: 70px;
                
            }
            .container3{
                width: 800px;
                height: 550px;
                margin-left:260px ;
                margin-top: 40px;
                margin-bottom: 350px;
            }
            .school{
                width: 600px;
                height: 700px;
                margin-left: 120px;
               
            }
           .schooltd{
                border-bottom: solid;
                border-right: solid;
                border-radius: 10px;
                border-color: rgb(12, 39, 12);
                padding-left: 15px;
                
                height: 70px;
           }
                
            .footer{
                position:fixed;
                height: 50px;
                border-color: rgb(12, 39, 12);
                margin-left: 0px;
                padding: 0px;
                bottom: 0px;
                width: 100%;
                margin: 0px;
                background-color: rgb(15, 20, 18);
                
            }
            .resumebutton{
            width:200px;
            height: 40px;
            border-color: rgb(37, 223, 12);
            border-radius: 30px;
            margin-left: 650px;
            margin-top: 5px;
            background-color: rgb(36, 168, 10);

            }
            .contactbutton{
                width:200px;
            height: 40px;
            border-radius: 30px;
            margin-left: 150px;
            margin-top: 5px;
            background-color: rgb(240, 9, 9);

            }
            .contactbutton:hover{
               opacity: 0.3;
            }
            .resumebutton:hover{
               opacity: 0.3;
            }
           
    